<div class="control" data-hook="admin_doctor_form_left">
  <div data-hook="control-group">
    <%= f.input :name, required: true %>
  </div>

  <div data-hook="control-group">
    <%= f.input :permalink, required: true %>
  </div>
  <div data-hook="control-group">
    <%= f.input :email, placeholder: 'user@domain.com', required: true %>
  </div>
  <div data-hook="control-group">
    <%= f.input :date_of_birth, start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:day, :month, :year]%>
  </div>
  <div data-hook="control-group">
    <%= f.input :degree, required: true %>
  </div>
  <div data-hook="control-group">
    <%= f.input :image, as: :file %>
  </div>
   <div data-hook="control-group">
    <%= f.input :fees, required: true %>
  </div>
  <div data-hook="control-group">
    <%= f.input :expertise, as: :text, required: true, :input_html => {:cols => 40, :rows => 5 } %>
  </div>
  <div data-hook="control-group">
    <%= f.input :practicing, start_year: Date.today.year - 90, order: [:day, :month, :year]%>
  </div>
  <div data-hook="control-group">
    <div class="controls">
      <%= f.submit name, class: 'btn btn-large btn-primary' %>
    </div>
  </div>
</div>