<div class="control" data-hook="admin_doctor_form_left">
  <div data-hook="control-group">
    <%= f.input :name, required: true %>
  </div>

  <div data-hook="control-group">
    <%= f.input :permalink, required: true %>
  </div>
  <div data-hook="control-group">
    <%= f.input :email, placeholder: 'user@domain.com', required: true %>
  </div>
  <div data-hook="control-group">
    <%= f.input :date_of_birth, as: :string, class: 'datepicker'%>
  </div>
  <div data-hook="control-group">
    <%= f.input :degree, required: true %>
  </div>
  <div data-hook="control-group">
    <%= f.input :expertise, required: true %>
  </div>
  <div data-hook="control-group">
    <%= f.input :practicing,  as: :string, class: 'datepicker', required: true %>
  </div>
  <div data-hook="control-group">
    <div class="controls">
      <%= f.submit 'Create', class: 'btn btn-large btn-primary' %>
    </div>
  </div>
</div>