<h2>Doctor's List <%= link_to "Add",  new_admin_doctor_path, class: "btn btn-inverse pull-right" %></h2>

<% if @doctors.any? %>
  <table class="table table-hover table-bordered">
    <thead>
      <th>#</th>
      <th><%= t(:name) %></th>
      <th><%= t(:email) %></th>
      <th><%= t(:degree) %></th>
      <th><%= t(:expertise) %></th>
      <th>Exprience</th>
      <th></th>
    </thead>
    <tbody>
      <% @doctors.each_with_index do |doctor, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to doctor.name, admin_doctor_path(doctor) %></td>
          <td><%= mail_to doctor.email%></td>
          <td><%= doctor.degree %></td>
          <td><%= doctor.expertise %></td>
          <td><%= time_ago_in_words(doctor.practicing) rescue nil%></td>
          <td><%= link_to "Edit", edit_admin_doctor_path(doctor), class: 'btn btn-primary'%>
          &nbsp;
          <%= link_to "Delete", admin_doctor_path(doctor), method: :delete, confirmation: { data: 'Are you sure?'}, class: 'btn btn-danger' %>
          <%= link_to "Clinics", clinics_admin_doctor_path(doctor), class: "btn btn-success" %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= paginate @doctors %>
<% else %>
<hr>
  <!-- <h3>No Doctors <%#= link_to 'add', new_admin_doctor_path%></h3> -->
  <h3 style="text-align:center;">Data Not Found. ;)</h3>
<% end %>