
%section.cousreListWrapper
  .container
    .row
      .courseListContainer.pull-right.searchContainer
        %h4 doctors

        %form.searchForm{name: "searchText", type: "text",filter_name: "name"}
          .searchBox
            %input{placeholder: "Search with symptom or doctor", :type => "text", class: "searchHeader"}
          %input{:type => "submit", :value => ""}

      .span3
        .filterWrapper
          .filterHeading
            %a.openFilter
            %h4 Filter criteria
            %a.resetLink#resetFilter{href: "javascript:void(0);"} Reset
          %ul.mobileAccordian
            %li
              %a
              .accordianContainer
                .inputContainer
                  %h6 Area
                  .selListWrap
                    = select_tag("area_code", options_for_select(@areas.collect {|p| [ p.name.capitalize, p.id ] }),{class: "addressBox", title: "Select Area", prompt: "Select Area", tabindex: "1"})

                .inputContainer
                  %h6 Specialty
                  %ul.filtersList
                    - SPECIALTIES.each do |specialty|
                      %li
                        %input{filter_name: "specialties", name: "specialties", type: "checkbox", value: specialty, id: "specialty#{specialty}"}
                        %label{for: "specialty#{specialty}"} #{specialty}

                .inputContainer
                  %h6 Timings
                  %ul.filtersList.noScroll
                    - TIMINGS.each do |time|
                      %li
                        %input{filter_name: "timings", name: "time", type: "checkbox", value: time, id: "time#{time}"}
                        %label{for: "time#{time}"} #{time}

                .inputContainer
                  %h6 Charges
                  %label#amount
                  #chargesSlider

                .inputContainer
                  %h6 Expirience
                  %label#years
                  #expirienceSlider

      .span9.courseListContainer
        %ul.dr-list
          %li
            -#%img{:src=>"images/img1.jpg"}
            .dr-info
              %h3
                Dr.Sujay R Naik
              %p
                Ophthalmologist, Eye Surgeon, Pediatric Ophthalmologist
                %br
                  practicing since 2009
              -#%img{src="images/img1.jpg"}
              %a{:href=>"javascript:void(0);"}
                Chinchwad
              %a{:href=>"javascript:void(0);"}
                Nigadi
          %li
            -#%img{:src=>"images/img1.jpg"}
            .dr-info
              %h3
                Dr.Sujay R Naik
              %p
                Ophthalmologist, Eye Surgeon, Pediatric Ophthalmologist
                %br
                  practicing since 2009
              -#%img{src="images/img1.jpg"}
              %a{:href=>"javascript:void(0);"}
                Chinchwad
              %a{:href=>"javascript:void(0);"}
                Nigadi




