= javascript_include_tag '/jquery.bxslider/jquery.bxslider.min.js'
= stylesheet_link_tag '/jquery.bxslider/jquery.bxslider.css'
.content
  .basicInfo
    %h3
      = @doctor.name
    = image_tag @doctor.image_url(:thumb).to_s
  .detailsInfo
    %div
      = @doctor.degree
    %div
      Practing since
      = @doctor.practicing.strftime("%Y")
    .expertise
      %strong
        Expertise:
      %div
        = @doctor.expertise
    %div
      %strong
        First visiting fees:
      = @doctor.fees
  .rating
    Overall rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %span.starImage
      = image_tag "/assets/completestar.png"
      = image_tag "/assets/completestar.png"
      = image_tag "/assets/completestar.png"
      = image_tag "/assets/completestar.png"
      = image_tag "/assets/completestar.png"
    %span 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      5/5
    %span
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      (based on 50 votes)
    .ratingDetails
      .communityRating
        %h4
          community ratings
        %span.basis
          hygiene 
        %span
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          &nbsp;&nbsp;&nbsp;5/5
        %span.basis
          punctuality
        %span
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          &nbsp;&nbsp;&nbsp;5/5
        %span.basis
          compassion
        %span
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          &nbsp;&nbsp;&nbsp;5/5
        %span.basis
          money
        %span
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          = image_tag "/assets/completestar.png"
          &nbsp;&nbsp;&nbsp;5/5
      .userRating
        %h4
          your ratings
        %span.basis
          hygiene
        %span
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          &nbsp;&nbsp;&nbsp;5/5
        %span.basis
          punctuality
        %span
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          &nbsp;&nbsp;&nbsp;5/5
        %span.basis
          compassion
        %span
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          &nbsp;&nbsp;&nbsp;5/5
        %span.basis
          money
        %span
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          = image_tag "/assets/outlinestar.png"
          &nbsp;&nbsp;&nbsp;5/5
        
  .clearfix
  .clinics
    %h3
      Clinics:
    %ul.bxslider
      -@doctor.clinics.each do |clinic|
        %li
          .clinic_details
            .span2
              Name:
            .span3
              = clinic.name
            .span2
              Adress:
            .span3
              = clinic.address1
            .span2
              City:
            .span3
              = clinic.city
            .span2
              State:
            .span3
              = clinic.state
            .span2
              Country:
            .span3
              = Country[clinic.country]
            .span2
              ZipCode:
            .span3
              = clinic.zipcode
            .span2
              Phone Number:
            .span3
              = clinic.contact

:javascript
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });