!!!
%html
  %head
    %title DocFinder
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "style", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js", :type => "text/javascript"}
  %body
    = render 'shared/header'
    = yield
    = render 'shared/footer'